@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;200;400&family=Roboto&display=swap');

.card{
    width: 600px !important;
    padding-top: 2rem;
    margin-top: 8rem;
}


.form-group{
    margin: 1rem;
}

h5{
    position: relative;
    margin-left:1rem;
}

.sign-up{
    border-right: 1px solid #ddd;
}

span{
    margin-left: 1rem;
}